<?xml version="1.0" encoding="UTF-8"?>

<!-- dtd : document type definition 文档类型定义 使用.dtd文件约束 xsd : xml schema definition 
	xml规范定义 使用.xsd文件约束 文档约束：标签、顺序、层级、属性 -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 作用：声明需要Spring生产的组件 -->
	<!-- UserDAOImpl组件 id="组织标识" class="组件类型" -->
	<!-- 当Spring启动时，读取改配置文件，创建对应类的对象，并用id作为标识 -->
	<bean id="userDAO" class="com.shanpf.dao.UserDAOImpl"></bean>
	<!-- UserServiceImpl组件 -->
	<bean id="userService" class="com.shanpf.service.UserServiceImpl">
		<!-- 给属性userDAO赋值
		将上面工厂可以加载的userDAO赋值进去
		 -->
		<property name="userDAO" ref="userDAO"></property>
	</bean>
</beans>